body {
    font-family: Open Sans, sans-serif;
}

h1 {
    font-size: 42pt;
    margin-bottom: -1rem;
}

.left, .right {
    display: inline-block;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
    margin-top: -3rem;
}

.customer::before {
    content: "";
    clear: both;
    display: table;
  }

.customer {
    text-align: right;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.left-footer, .right-footer {
    display: inline-block;
}

.left-footer {
    float: left;
    width: 70%;
}

.right-footer {
    float: right;
    width: 30%;
    text-align: center;
}

.items {
    margin-top: 10px;
  }

  .items table {
    width: 100%;
    border-collapse: collapse;
  }

  .items th, .items td {
    border: none;
    padding: 5px;
  }


